<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        <h1>We might come back</h1>

        <p>
            We are busted buddy!
        </p>
    </body>
</html>